rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /blockedDevices/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /users/{uid} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null
        && (request.auth.uid == uid
         || request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
      allow delete: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /orders/{id} {
      allow create: if true;
      allow read: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com'
         || resource.data.userId == request.auth.uid);
      allow update, delete: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /config/maintenance {
      allow read: if true;
      allow write: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /config/{id} {
      allow read: if true;
      allow write: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /config/auditLog/{document=**} {
      allow read, write: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
    match /visitors/{id} {
      allow create: if true;
      allow read, delete: if request.auth != null
        && (request.auth.token.email == 'ya2190069@gmail.com'
         || request.auth.token.email == 'y41777213@gmail.com');
    }
  }
}
